/* Poppins font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

:root {
    --font-poppins: 'Poppins', sans-serif;
    --white: #fff;
    --black: #111;
    --gray: #F6F4F1;
    --primary-color: #EB701F;
    --secondary-color: #406646;
    --box-shadow: 0 3px 10px rgb(0 0 0 / 0.1);
    --transition: all .3s ease;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: var(--font-poppins);
    font-weight: 500;
    text-decoration: none;
    scroll-behavior: smooth;
}

body {
    background-color: var(--gray);
    overflow-x: hidden;
    outline: none;
    transition: var(--transition);
}
body.night {
    background-color: black;
}

/* GLOBAL STYLING */
h1, h2, h3 {
    font-weight: 600;
}

ul, li {
    list-style: none;
}

p {
    color: gray;
}

section, footer {
    margin: 4rem 0;
}

.wrapper {
    width: 80%;
    margin: auto;
    flex-wrap: wrap;
}

.logo {
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--white);
    cursor: pointer;
}
/* END OF GLOBAL STYLING */

/* scroll to top btn */
.scroll-up-btn {
    position: fixed;
    height: 45px;
    width: 45px;
    background: var(--primary-color);
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: var(--white);
    font-size: 30px;
    border-radius: 50px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: var(--transition);
    z-index: 1000;
}

.scroll-up-btn:active{
    transform: scale(1.09);
}
.scroll-up-btn.show {
    opacity: 1;
    pointer-events: auto;
    bottom: 30px;
}
/*end of  scroll to top btn */

/*menu-btn */
.menu-btn{
    color: var(--white);
    font-size: 1.7rem;
    cursor: pointer;
    display: none;
}
/* end of menu-btn */

/* HEADER SECTION STYLING */
.header {
    position: relative;
    background: var(--secondary-color);
    height: auto;
    padding: 1.5rem 0;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

/* Navbar Section Styling */
.navbar .nav_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
    height: 70px;
    width: 100%;
}

.nav_wrapper .nav_menu {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.nav_wrapper .nav_menu .nav_link a {
    color: var(--white);
    font-size: 1.2rem;
    margin: 0 1.5rem;
    transition: var(--transition);
}

.nav_wrapper .nav_menu .nav_link a:hover  {
    color: var(--primary-color);
}

/* Hero Section Styling */
.hero_wrapper {
    padding-top: calc(70px + 2rem);
    padding-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 2rem;
}

.hero_wrapper .hero_info {
    width: 100%;
    color: var(--white);
}

.hero_wrapper .hero_info .hero_info_title {
    font-size: 4rem;
    margin-bottom: 3rem;
}

.hero_wrapper .hero_info .hero_info_text {
    color: var(--white);
    width: 380px;
    margin-bottom: 3rem;
}

.hero_wrapper .hero_info .hero_info_btn {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-bottom: 3rem;
}

.hero_wrapper .hero_info .hero_info_btn .demo {
    color: var(--white);
    background: var(--primary-color);
    border: 2px solid var(--primary-color);
    padding: .6rem 1rem;
    border-radius: 30px;
    transition: var(--transition);
}

.hero_wrapper .hero_info .hero_info_btn .demo:hover {
    color: var(--primary-color);
    background: transparent;
}

.hero_wrapper .hero_info .hero_info_btn .video {
    display: inline-flex;
    align-items: center;
}

.hero_wrapper .hero_info .hero_info_btn .video i {
    color: var(--primary-color);
    font-size: 2.8rem;
    margin-right: 1rem;
}

.hero_wrapper .hero_info .hero_info_btn .video {
    color: var(--white);
}


.hero_wrapper .hero_img_wrapper {
    display: flex;
    align-self: center;
    justify-content: flex-end;
    width: 100%;
}

.hero_wrapper .hero_img_wrapper img {
    width: 100%;
    border-radius: 50px 0 50px;
}
/* END OF HEADER SECTION STYLING */

/* ABOUT SECTION STYLING */
.about_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about_wrapper .about_left {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8rem;
}

.about_left .about_card .about_card_rating {
    font-size: 3.2rem;
    font-weight: 500;
}

.about_left .about_card .about_card_stars {
    color: rgb(248, 188, 35);
    margin-bottom: .8rem;
}

.about_left .about_card .about_card_text {
    font-size: .8rem;
}

.about_right .about_right_title {
    width: 360px;
}
/* END OF ABOUT SECTION STYLING */

/* SERVICES SECTION STYLING */
.services .services_title {
    font-size: 2.5rem;
    text-align: center;
    max-width: 700px;
    width: 100%;
    margin:2rem auto;
}

.services .services_cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    margin-top: 3rem;
}

.services .services_cards .services_card {
    background-color: var(--secondary-color);
    padding: 2rem;
    border-radius: 5px;
    transition: var(--transition);
}

.services .services_cards .services_card:hover {
    transform: scale(1.05);
}

.services .services_cards .services_card i {
    background-color: var(--primary-color);
    color: var(--white);
    font-size: 2.8rem;
    padding: 2rem;
    border-radius: 50%;
    margin-bottom: 2.8rem;
}

.services .services_cards .services_card .services_card_title {
    padding-bottom: 1.5rem;
    color: white;
}

.services .services_cards .services_card .services_card_text {
    font-size: .8rem;
    color: var(--white);
}

.services .services_cards .services_card .more {
    display: none;
}

.services .services_cards .services_card.activated .more {
    display: inline;
}

.services .services_cards .services_card .dots {
    display: inline;
}

.services .services_cards .services_card.activated .dots {
    display: none;
}

.services .services_cards .services_card .services_btn {
    color: var(--primary-color);
    font-size: .8rem;
    cursor: pointer;
}
/* END OF SERVICES SECTION STYLING */

/* COURSES SECTION STYLING */
.courses .courses_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3rem;
}

.courses .courses_header .courses_title{
    font-size: 2.3rem;
}

.courses .courses_cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
}

.courses .courses_cards .courses_card{
    background-color: var(--white);
    box-shadow: var(--box-shadow);
    padding: 2rem;
    border-radius: 5px;
    transition: var(--transition);
}

.courses .courses_cards .courses_card .card_icon{
    background-color: var(--primary-color);
    color: var(--white);
    font-size: 1.4rem;
    padding: 1rem;
    border-radius: 5px;
    margin-bottom: 2rem;
}

.courses .courses_cards .courses_card .courses_card_title,
.courses .courses_cards .courses_card .courses_card_text {
    margin-bottom: 1rem;
}

.courses .courses_cards .courses_card .courses_card_price_info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
}

.courses .courses_cards .courses_card .courses_card_price_info .info1 {
    font-size: .8rem;
    align-items: center;
    display: inline-flex;
}

.courses .courses_cards .courses_card .courses_card_price_info .info1 i {
    font-size: 1.1rem;
    padding-right: .5rem;
}

.courses .courses_cards .courses_card .courses_card_price_info .info2 {
    font-size: 1.2rem;
    font-weight: 600;
}

.courses .courses_cards .courses_card:hover{
    background-color: var(--secondary-color);
}

.courses .courses_cards .courses_card:hover .card_icon{
    background-color: var(--white);
    color: var(--primary-color);
}

.courses .courses_cards .courses_card:hover .courses_card_title {
    color: var(--white);
}

.courses .courses_cards .courses_card:hover .courses_card_text {
    color: var(--white);
}

.courses .courses_cards .courses_card:hover .courses_card_price_info p{
    color: var(--white);
}
/* END OF COURSES SECTION STYLING */

/* SUBSCRIPTION SECTION STYLING */
.subscription .subscription_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 4rem 0;
}

.subscription .subscription_wrapper .subscription_title {
    font-size: 2.6rem;
    margin: 3rem 0;
}

.subscription .subscription_wrapper .subscription_btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 3rem;
}

.subscription .subscription_wrapper .subscription_btn p{
    background-color: var(--white);
    color: #A3A7AD;
    padding: .6rem 2rem ;
    border-radius: 20px;
    cursor: pointer;
    transition: var(--transition);
}

.subscription .subscription_wrapper .subscription_btn p:hover{
    color: var(--white);
    background: var(--secondary-color);
    padding: .6rem 2rem ;
    border-radius: 20px;
}

.subscription .subscription_wrapper .subscription_cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    margin-top: 3rem;
}

.subscription .subscription_wrapper .subscription_cards .subscription_card{
    background-color: var(--white);
    box-shadow: var(--box-shadow);
    padding: 2rem 1.5rem;
    border-radius: 5px;
    text-align: center;
    transition: var(--transition);
}


.subscription .subscription_wrapper .subscription_cards .subscription_card .subscription_card_header{
    padding: 1rem 0;
}

.subscription .subscription_wrapper .subscription_cards .subscription_card .subscription_card_price{
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--black);
}

.subscription .subscription_wrapper .subscription_cards .subscription_card .subscription_card_price span{
    font-size: .8rem;
    color: gray;
}

.subscription .subscription_wrapper .subscription_cards .subscription_card .subscription_card_info{
    margin: 3rem 0;
}

.subscription .subscription_wrapper .subscription_cards .subscription_card .subscription_card_info p{
    padding: .6rem;
}

.subscription .subscription_wrapper .subscription_cards .subscription_card .subscription_card_btn{
    color: #A7A7A4;
    background: #F6F4F1;
    padding: .6rem 2rem ;
    border-radius: 20px;
    cursor: pointer;
    transition: var(--transition);
}

.subscription .subscription_wrapper .subscription_cards .subscription_card .subscription_card_btn:hover{
    color: var(--white);
    background: var(--primary-color);
}

.subscription .subscription_wrapper .subscription_cards .subscription_card:hover{
    transform: scale(1.05);
}
/* END OF SUBSCRIPTION SECTION STYLING */

/* FOOTER SECTION STYLING */
.footer {
    background-color: var(--black);
    padding: 5rem 0;
    margin-bottom: 0;
}

.footer .footer_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.footer .footer_wrapper .footer_newsletter {
    margin-right: 5rem;
    width: 100%;
    max-width: 300px;
}

.footer .footer_wrapper .footer_newsletter .logo {
    margin-bottom: 2rem;
}

.footer .footer_wrapper .footer_newsletter .text {
    font-weight: lighter;
    color: var(--white);
    margin: 2rem 0;
}

.footer .footer_wrapper .footer_newsletter form input {
    padding: .4rem 1rem;
    border: 1px solid var(--gray);
    border-radius: 5px;
    box-shadow: var(--box-shadow);
    outline-color: var(--primary-color);
}

.footer .footer_wrapper .footer_newsletter form button {
    background-color: var(--primary-color);
    color: var(--white);
    padding: .4rem 1rem;
    border: none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}

.footer .footer_links_wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 4rem;
    align-items: center;
}

.footer .footer_links_wrapper .footer_links .footer_links_header {
    color: white;
}

.footer .footer_links_wrapper .footer_links .footer_link {
    display:block;
    margin-top: 1rem;
    color: white;
    transition: var(--transition);
}

.footer .footer_links_wrapper .footer_links .footer_link:hover {
    color: var(--primary-color);
}

.footer .copyrights {
    color: var(--white);
    text-align: center;
    margin-top: 4rem;
    padding: 0 10px;
}

.footer .copyrights a {
    color: var(--primary-color);
    transition: var(--transition);
}

.footer .copyrights a:hover {
    text-decoration: underline;
}
/* END OF FOOTER SECTION STYLING */

               /* MEDIA QUERIES */
@media only screen and (max-width:1280px) {
    .wrapper {
        width: 90%;
    }
}

@media only screen and (max-width:960px) {
/* HERO SECTION */
    .hero_wrapper {
        padding-top: 2rem;
        padding-bottom: 1rem;
        display: block;
    }

    .hero_wrapper .hero_info {
        text-align: center;
    }

    .hero_wrapper .hero_info .hero_info_title {
        font-size: 3rem;
        margin-bottom: 2rem;
    }

    .hero_wrapper .hero_info .hero_info_text {
        width: 70%;
        margin: auto auto 2rem auto;
    }

    .hero_wrapper .hero_info .hero_info_btn {
        justify-content: center;
        margin-bottom: 3rem;
    }

    .hero_wrapper .hero_img_wrapper {
        display: flex;
        align-self: center;
        justify-content: center;
        width: 100%;
        max-width: 400px;
        margin: auto;
    }
    /* END OF HERO SECTION */

/* ABOUT SECTION STYLING */
.about_wrapper {
    gap: 2rem;
}

.about_wrapper .about_left {
    gap: 4rem;
}

/* SERVICES SECTION STYLING */
.services .services_cards {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
}

/* COURSES SECTION STYLING */
.courses .courses_cards{
    grid-template-columns: repeat(2, 1fr);
}

/* FOOTER SECTION STYLING */
.footer {
    padding: 5rem 0;
    margin-bottom: 0;
}

.footer .footer_wrapper {
    display: block;
    align-items: center;
    justify-content: center;
}

.footer .footer_wrapper .footer_newsletter {
    margin: 0 0 3rem 0;
    max-width: 100%;
    text-align: center;
}

.footer .footer_wrapper .footer_newsletter form input {
    width: 40%;
}

.footer .footer_links_wrapper {
    align-items: flex-start;
}
}

@media only screen and (max-width:768px) {
/* scroll to top btn */
.scroll-up-btn {
    height: 40px;
    width: 40px;
    right: 30px;
    bottom: 10px;
    line-height: 40px;
    font-size: 25px;
}

/*menu-btn */
    .menu-btn{
        display: block;
    }

    .menu-btn i.active::before {
        content: "\f00d";
        font-size: 1.9rem;
    }
/* end of menu-btn */

/* NAVBAR SECTION */
    .nav_wrapper .nav_menu {
        position: fixed;
        top: 80px;
        right: -100%;
        background: var(--white);
        border-radius: 10px;
        box-shadow: var(--box-shadow);
        width: 100%;
        max-width: 200px;
        height: max-content;
        display: block;
        align-items: center;
        justify-content: center;
        transition: var(--transition);
        z-index: 1999;
    }

    .nav_wrapper .nav_menu.active {
        right: 10px;
    }

    .nav_wrapper .nav_menu .nav_link {
        text-align: center;
        color: var(--black);
        padding: 1.2rem 0;
    }

    .nav_wrapper .nav_menu .nav_link a {
        color: var(--black);
    }

    .nav_wrapper .mode_toggle {
        position: absolute;
        right: 80px;
    }
    /* END OF NAVBAR SECTION */

/* ABOUT SECTION STYLING */
.about_wrapper {
    display: block;
    align-items: center;
    justify-content: center;
}

.about_wrapper .about_left {
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 100%;
    margin-bottom: 2rem;
}

.about_right .about_right_title {
    width: 100%;
    max-width: 400px;
    margin: auto;
    text-align: center;
}

/* SERVICES SECTION STYLING */
.services .services_title {
    font-size: 2rem;
}

.services .services_cards {
    grid-template-columns: 100%;
}

.services .services_cards .services_card {
    max-width: 100%;
}

/* COURSES SECTION STYLING */
.courses .courses_cards{
    grid-template-columns: 100%;
}

.courses .courses_cards .courses_card{
    max-width: 100%;
}

    /* SUBSCRIPTION SECTION STYLING */
    .subscription .subscription_wrapper {
        margin: 3rem 0;
    }

    .subscription .subscription_wrapper .subscription_title {
        font-size: 2rem;
        margin: 3rem 0;
    }

    .subscription .subscription_wrapper .subscription_btn {
        margin-bottom: 2rem;
    }

    .subscription .subscription_wrapper .subscription_cards{
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1.5rem;
        margin-top: 2rem;
    }

/* Footer SECTION STYLING */
.footer .footer_links_wrapper {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3rem;
}
}

@media only screen and (max-width:500px) {
    /* HEADER SECTION STYLING */
.header {
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}

    /* HERO SECTION STYLING */
.hero_wrapper .hero_info .hero_info_title {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.hero_wrapper .hero_info .hero_info_text {
    width: 100%;
    margin-bottom: 2rem;
}

.hero_wrapper .hero_info .hero_info_btn {
    margin-bottom: 2rem;
    gap: 1rem;
}

.hero_wrapper .hero_info .hero_info_btn .demo {
    padding: .6rem .8rem;
}

.hero_wrapper .hero_info .hero_info_btn .video i {
    font-size: 2rem;
    margin-right: .8rem;
}

    /* SERVICES SECTION STYLING */
.services .services_title {
    font-size: 1.8rem;
    max-width: 100%;
    margin:1.5rem auto;
}

    .services .services_cards .services_card i {
    font-size: 2rem;
    padding: 1.5rem;
    margin-bottom: 2rem;
}

    /* COURSES SECTION STYLING */
.courses .courses_header {
    display: block;
    margin-bottom: 2rem;
}

.courses .courses_header .courses_title{
    font-size: 1.5rem;
}

    /* SUBSCRIPTION SECTION STYLING */
    .subscription .subscription_wrapper {
        margin: 2rem 0;
    }

    .subscription .subscription_wrapper .subscription_title {
        font-size: 1.5rem;
        margin: 2rem 0;
    }

    .subscription .subscription_wrapper .subscription_cards{
        grid-template-columns: 100%;
    }

    /* Footer SECTION STYLING */
.footer .footer_wrapper .footer_newsletter {
    max-width: 300px;
    text-align: left;
}

.footer .footer_wrapper .footer_newsletter form input {
    width: 60%;
}

.footer .footer_links_wrapper {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    align-items: flex-start;
}

.footer .copyrights {
    font-size: .8rem;
}
}
